body {
    color: red;
}

[ng-cloak] {
    background-image: url("https://i1.wp.com/cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/loader.gif");
    width: 48px;
    height: 48px;
}

[ng-cloak] * {
    display: none !important;
}

/*
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
    background-image: url("https://i1.wp.com/cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/loader.gif");
    min-width: 48px;
    min-height: 48px;
}

*/